{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
>
  <span class="b">/ </span>
  <a
    href="{{ .Site.BaseURL  }}"
    class="b bw1 bb pb1 no-underline black"
    >{{ .Site.Title }}</a
  >
  <span class="b"> / </span>
  <!-- prettier-ignore -->
  <span class="b pb1 no-underline black">{{ lower .Title }}</span>

  <section id="main" class="mt5">
    <div>
      <ul id="list" class="pl0">
        <!-- prettier-ignore -->
        {{ range .Pages }}
        {{ if ne .Title "" }}
        <li class="list pl0 lh-copy hide-child">
          <a
            class="f4 b dib black no-underline"
            href="{{ .Permalink}}"
            >{{ .Title }}</a
          >
          <span class="f6 gray db dib-ns child"
            ><em>last seen</em> {{ .Lastmod.Format "January 2, 2006" }}</span
          >
        </li>
        <!-- prettier-ignore -->
        {{ end }}
        <!-- prettier-ignore -->
        {{ end }}
      </ul>
    </div>
  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
